{% extends "layout.html" %}
{% block content %}
<form action="/edit/{{movies.id}}" method="post">
    <div class="row">
        <div class="col">
            <label for="fldYear">City Name</label>
            <input id="fldYear" type="text" class="form-control" placeholder="City Name" name="fldYear" value="{{movies.fldYear}}">
        </div>
        <div class="col">
            <label for="fldMovie">City Country</label>
            <input id="fldMovie" type="text" class="form-control" placeholder="City Country" name="fldMovie" value="{{movies.fldMovie}}">
        </div>
    </div>

    <div class="row">
        <div class="col">
            <label for="fldAge">City Latitude</label>
            <input id="fldAge" type="text" class="form-control" placeholder="City Latitude" name="fldAge" value="{{movies.fldAge}}">
        </div>
        <div class="col">
            <label for="fldName">City Longitude</label>
            <input id="fldName" type="text" class="form-control" placeholder="City Longitude" name="fldName" value="{{movies.fldName}}">
        </div>
    </div>
    <button type="submit" class="btn btn-success">Save</button>

</form>
{% endblock %}