{% extends "layout.html" %}
{% block content %}
<form action="/OscarWinnings(Men)/new" method="POST">
    <div class="col">
        <label for="id">ID (Please do not repeat numbers!)</label>
        <input id="id" type="text" class="form-control" placeholder="ID" name="id">
    </div>
    <div class="row">
        <div class="col">
            <label for="fldYear">Year</label>
            <input id="fldYear" type="text" class="form-control" placeholder="Year" name="fldYear">
        </div>
        <div class="col">
            <label for="fldMovie">Movie</label>
            <input id="fldMovie" type="text" class="form-control" placeholder="Movie" name="fldMovie">
        </div>
    </div>

    <div class="row">
        <div class="col">
            <label for="fldAge">Age</label>
            <input id="fldAge" type="text" class="form-control" placeholder="Age" name="fldAge">
        </div>
        <div class="col">
            <label for="fldName">Name</label>
            <input id="fldName" type="text" class="form-control" placeholder="Name" name="fldName">
        </div>
    </div>
    <button type="submit" class="btn btn-success">Success</button>

</form>

{% endblock %}