{% extends "layout.html" %}
{% block content %}

<div class="card" class="m-5 p-2">
    <h5 class="card-title">{{ movies.fldYear }} - {{ movies.fldMovie }}</h5>

    <ul class="list-group list-group-flush">
        <li class="list-group-item">{{ movies.fldAge }}</li>
        <li class="list-group-item">{{ movies.fldName }}</li>
        <li class="list-group-item">{{ movies.fldMovie }}</li>
    </ul>
    <div class="card-body">
        <a href="/edit/{{movies.id}}" class="card-link btn btn-primary">edit</a>
    </div>
</div>
<form action="/delete/{{movies.id}}" method="post"><button type="submit" class="btn btn-danger">Delete</button></form>


{% endblock %}